/** Custom CSS IDs and Classes */

/** Banner */

/** Copy content */

.blackfooter {
  position: relative;
  height: 30rem;
  margin: 0;
  padding: 0rem;
  background-color: var(--background-color);
}

.copy-content {
  position: relative;
  bottom: 7.2rem;
  padding: 0 0.1rem 0 0.8rem;
  background-color: none;
}

.copy-content h2 {
  font-size: 7.3rem;
}

.copy-content p {
  font-size: 2rem;
}



.image-border {
  border-style: solid;
}

#story .copy-content img {
  position: relative;
  z-index: -1;
}

#capture .copy-content img {
  position: relative;
  z-index: -1;
}

/* Larger than mobile */
@media (min-width: 600px) {
  .copy-content h2 {
    margin: 0;
    font-size: 12rem;
    line-height: 9.1rem;
  }
}
/* Larger than phablet */
@media (min-width: 900px) {
  .copy-content h2 {
    margin: 0;
    font-size: 12rem;
    line-height: 9.1rem;
  }
}

/* Larger than tablet */
@media (min-width: 1200px) {
  .copy-content h2 {
    margin: 0;
    font-size: 20rem;
    line-height: 14.9rem;
  }
}

#colour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(https://res.cloudinary.com/cruse/image/upload/v1562920704/Kingmaker/cat2_jsz4ox.jpg);
  background-attachment: fixed;
  background-size: cover;

}

#loyalty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(https://res.cloudinary.com/cruse/image/upload/v1562920704/Kingmaker/cat1_p0iiqi.jpg);
  background-attachment: fixed;
  background-size: cover;

}

#expression {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(https://res.cloudinary.com/cruse/image/upload/v1562920704/Kingmaker/shed2_zixnqd.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom right;

}

#realism {
  background-image: url(https://res.cloudinary.com/cruse/image/upload/v1562920704/Kingmaker/boat2_vdbunm.jpg);
  background-attachment: fixed;
  background-size: cover;
}


/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
  .blackfooter {
    position: relative;
    height: 20rem;
    margin: 0;
    padding: 0rem 0rem;
    background-color: var(--background-color);
  }
  .content {
    position: relative;
    bottom: 8.8rem;
    padding: 0 3rem;
  }
}

/* Larger than phablet */
@media (min-width: 900px) {
  .content {
    position: relative;
    bottom: 8.8rem;
    padding: 0 3rem;
  }
}

/* Larger than tablet */
@media (min-width: 1200px) {
  .content {
    position: relative;
    bottom: 14.6rem;
    padding: 0 3rem;
  }
}

