# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
doc/extend.md
doc/TOC.md
doc/css.md
doc/faq.md
doc/html.md
doc/js.md
doc/misc.md
doc/usage.md
.htaccess
css/main_old.css
img/kingmaker-logo.png
